* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #f1f1f1;
}

.container {
    max-width: 560px;
    width: 100%;
    height: 640px;
    margin: 0 auto;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
    background-color: #FFF;
    border-radius: 16px;
}